<section class="daily-breakdown hide">
	<div class="history-contain">
		<div class="shadow-top"></div>
		<div class="mid-bar"></div>
		<div class="day first">
			<h5>Monday</h5>
			<ul class="chart"></ul>
			<%= erb :timelabel %>
		</div>
		<div class="day">
			<h5>Tuesday</h5>
			<ul class="chart"></ul>
			<%= erb :timelabel %>
		</div>
		<div class="day">
			<h5>Wednesday</h5>
			<ul class="chart"></ul>
			<%= erb :timelabel %>
		</div>
		<div class="day">
			<h5>Thursday</h5>
			<ul class="chart"></ul>
			<%= erb :timelabel %>
		</div>
		<div class="day">
			<h5>Friday</h5>	
			<ul class="chart"></ul>
			<%= erb :timelabel %>	
		</div>
		<div class="day">
			<h5>Saturday</h5>
			<ul class="chart"></ul>
			<%= erb :timelabel %>
		</div>
		<div class="day">
			<h5>Sunday</h5>
			<ul class="chart"></ul>
			<%= erb :timelabel %>
		</div>
	</div>
</section>